
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ======= COLORS ====== */
    --primary-color: #585599;
    --panel-color: #FFF;
    --text-color: #000;
    --text-color-white: #FFF;
    --black-light-color: #707070;
    --border-color: #EDEDED;
    --toggle-color: #DDD;
    --box1-color: #81BC86;
    --box2-color: #C7DE7C;
    --box3-color: #585599;
    --title-icon-color: #FFF;


    /* ======= TRANSITION ========= */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}

body.dark{
    /* ======= COLORS ====== */
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --text-color-white: #EDEDED;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
}

nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img{
    min-width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

.menu-items .mode{
    display: flex;
    align-items: center;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}


body.dark .switch:before{
    left: 20px;
}

main{
    position: relative;
    left:250px;
    background-color: var(--panel-color);
    border-left: 2px solid var(--border-color);
    height: 100vh;
    width: 100%;
    display: flex;

}

.dashboard{
    padding-left: 20px;
    width: calc(100% - 300px);
}

.dashboard .title-box{
    position: relative;
    left: 20px;
    font-weight: 600;
    font-size: 22px;
    color: var(--text-color);
}

.dashboard .title-box .circle{
    position: relative;
    top: 35px;
    right: 20px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: var(--box2-color);
}

.dashboard .boxes{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.dashboard .boxes .box-one,
.dashboard .boxes .box-two,
.dashboard .boxes .box-three{
    margin-bottom: 25px;
    height: 250px;
    width: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard .boxes .box-one{
    background-color: var(--box1-color);
}

.dashboard .boxes .box-two{
    background-color: var(--box2-color);
}
.dashboard .boxes .box-three{
    background-color: var(--box3-color);
}

.dashboard .boxes .box .uil,
.dashboard .boxes .box .title,
.dashboard .boxes .box .info{
    color: var(--text-color-white);
    font-size: 35px;
}

.dashboard .boxes .box .uil{
    font-size:60px;
}