
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ======= COLORS ====== */
    --primary-color: #163A5F;  /* #585599 */
    --panel-color: #FFF;
    --text-color: #000;
    --text-color-opinion: #606060;
    --text-color-white: #FFF;
    --black-light-color: #707070;
    --border-color: #EDEDED;
    --toggle-color: #DDD;
    --box1-color: #45EBA5; /* #81BC86 */
    --box1-color-hover: #34DA94; /* #81BC86 */
    --box2-color: #21ABA5; /* #C7DE7C */
    --box3-color: #1D566E; /* #585599 */
    --title-icon-color: #FFF;


    /* ======= TRANSITION ========= */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}

body.dark{
    /* ======= COLORS ====== */
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --text-color-opinion: #FFF;
    --text-color-white: #EDEDED;
    --black-light-color: #CCC;
    --border-color: #4D4C4C;
    --toggle-color: #FFF;
    --box1-color: #FFC963; /* #3A3B3C */
    --box1-color-hover: #FFDA74; /* #3A3B3C */
    --box2-color: #2f2f2f; /* #3A3B3C */
    --box3-color: #FFCB74; /* #3A3B3C */
    --title-icon-color: #CCC;
}


nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--panel-color);
    border-right: 1px solid darkgray;
}

nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img{
    min-width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    position: relative;
}

.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
}

.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

.menu-items .mode{
    display: flex;
    align-items: center;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}

.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}


body.dark .switch:before{
    left: 20px;
}

main{
    padding-left: 250px;
    background-color: var(--panel-color);
    border-left: 2px solid var(--border-color);
    height: 100vh;
    width: 100%;
    display: flex;

}

.dashboard{
    padding-left: 20px;
    width: calc(100% - 100px);
}

.dashboard .title-box{
    position: relative;
    left: 20px;
    font-weight: 600;
    font-size: 22px;
    color: var(--text-color);
}

.dashboard .title-box .circle{
    position: relative;
    top: 35px;
    right: 20px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: var(--box2-color);
}

.dashboard .boxes{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.dashboard .boxes .box-one,
.dashboard .boxes .box-two,
.dashboard .boxes .box-three{
    margin-bottom: 25px;
    height: 250px;
    width: 450px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 12px 12px 7px rgba(0,0,0, 0.7);
}

.dashboard .boxes .box-one{
    background-color: var(--box1-color);
}

.dashboard .boxes .box-two{
    background-color: var(--box2-color);
}
.dashboard .boxes .box-three{
    background-color: var(--box3-color);
}

.dashboard .boxes .box .uil,
.dashboard .boxes .box .title,
.dashboard .boxes .box .info{
    color: var(--text-color-white);
    font-size: 35px;
}

.dashboard .boxes .box .uil{
    font-size:60px;
}

.opinion{
    margin: 10px 50px;
    background-color: var(--panel-color);
    width: calc(100% - 150px);
}

.opinion form{
    min-height: 100px;
    padding: 25px 50px 0 50px;
    margin: 50px 0 50px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var(--text-color);
    font-size: 125%;
    text-align: center;
    border-radius: 25px;
    border: 2px gray solid;
    box-shadow: 5px 5px 3px rgba(0,0,0, 0.7);
}

.opinion form p{
    margin: 0 10px;
    padding-top: 5px;
}

#id_rated{
    margin: 0 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#id_rated label input{
    margin-left: 15px;
    accent-color: var(--box1-color);
    height: 20px;
    width: 20px;
}

.opinion form p select{
    margin-left: 15px;
    background-color: var(--box1-color);
    color: var(--text-color-white);
    border-radius: 25px;
    border: none;
    height: 30px;
    width: 200px;
    text-align: center;
    font-size: 80%;
}

.opinion form input[type=submit]{
    margin-left: 15px;
    margin-top: 7px;
    background-color: var(--box1-color);
    color: var(--text-color-white);
    border-radius: 25px;
    border: none;
    height: 31px;
    width: 120px;
    text-align: center;
    font-size: 90%;
}

.opinion form input[type=submit]:hover{
    cursor: pointer;
    background-color: var(--box1-color-hover);
}


.opinion .content-opinion{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.opinion .content-opinion .user-opinion{
    border-radius: 25px;
    border: 2px gray solid;
    padding: 20px;
    margin-top: 25px;
    min-height: 100px;
    width: 100%;
    color: var(--text-color);
    background-color: var(--panel-color);

}
.opinion .content-opinion .user-opinion .left{
    display: inline-block;
    width: 90%;
}
.opinion .content-opinion .user-opinion .right{
    display: inline-block;
    float: right;
    width: 5%;
    margin: 20px 0 0 5px;
    font-size: 170%;
}


.opinion .content-opinion .user-opinion .left .nickname{
    background-color: var(--panel-color);
    font-weight: bold;
    font-size: 110%;
    color: var(--text-color-opinion) !important;
    position: relative;
    padding: 5px 10px;
    bottom: 35px;
}

main{
    min-height: 1500px;
    height: 200%;
}