{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLE -->
    <link rel="stylesheet" href=" {% static 'css/style.css' %}" type="text/css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="{% static 'images/logo.png' %}" alt="logo">
            </div>

            <span class="logo_name">CRM</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="{% url 'home-page' %}">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">Content</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Analytics</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-bill"></i>
                    <span class="link-name">Bill</span>
                </a></li>
                <li><a href="{% url 'opinion-page' %}">
                    <i class="uil uil-comment-exclamation"></i>
                    <span class="link-name">Opinion</span>
                </a></li>
                <li><a href="#">
                    <i class="uil uil-desert"></i>
                    <span class="link-name">Complaint</span>
                </a></li>
            </ul>

            <ul class="logout-mode">
                <li><a href="#">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a> </li>
                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                        <span class="link-name name-mode">Dark Mode</span>
                    </a>
                    <div class="mode-toggle">
                        <span class="switch"></span>
                    </div>

                </li>
            </ul>
        </div>
    </nav>

    <main>
        {% block dashboard %}


        {% endblock %}
    </main>

<script src="{% static 'js/darkmode.js' %}"></script>

</body>
</html>