{% extends 'base.html' %}
{% block dashboard %}

    <div class="dashboard">
        <span class="title-box">
            <div class="circle"></div>
            Dashboard
        </span>
        <div class="boxes">
            <div class="box box-one">
                <i class="uil uil-usd-circle"></i>
                <span class="title">Total Earn</span>
                <span class="info">286 $</span>
            </div>
            <div class="box box-two">
                <i class="uil uil-kid"></i>
                <span class="title">Total Users</span>
                <span class="info">15</span>
            </div>
            <div class="box box-three">
                <i class="uil uil-shield-check"></i>
                <span class="title">Security Status</span>
                <span class="info">Good</span>
            </div>
        </div>
    </div>

{% endblock %}